<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PJ.DataLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
 
    <applicationSettings>
        <PJ.DataLayer.Properties.Settings>
            <setting name="ConnStringSQL" serializeAs="String">
                <value>Data Source=SAP-PC\SAP2014;Initial Catalog=On4x;User ID=sa;Password=pass;Pooling=False</value>
            </setting>
            <setting name="ConnStringORA" serializeAs="String">
                <value>Data Source=192.168.250.55;User Id=sa;Password=pass;</value>
            </setting>
            <setting name="DriverDB" serializeAs="String">
                <value>ORACLE</value>
            </setting>
            <setting name="ConnORAEAMCURS" serializeAs="String">
                <value>Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.5.62)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=EAMCURS)));User Id=EAM;Password=EAM;</value>
            </setting>
            <setting name="HOST" serializeAs="String">
                <value>172.20.5.62</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="SERVICE_NAME" serializeAs="String">
                <value>EAMCURS</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>EAM</value>
            </setting>
            <setting name="PasswordSRV" serializeAs="String">
                <value>EAM</value>
            </setting>
            <setting name="PasswordPRD" serializeAs="String">
                <value>EAM</value>
            </setting>
        </PJ.DataLayer.Properties.Settings>
    </applicationSettings>
</configuration>