<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PJ.DataLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
 
    <applicationSettings>
        <PJ.DataLayer.Properties.Settings>
            <setting name="ConnStringSQL" serializeAs="String">
                <value>Data Source=SAP-PC\SAP2014;Initial Catalog=On4x;User ID=sa;Password=pass;Pooling=False</value>
            </setting>
        </PJ.DataLayer.Properties.Settings>
    </applicationSettings>
</configuration>